body{
    color: azure;
    background-color: black;
}
.row{
    padding: 50px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: larger;
}
.navbar-toggler{
    text-decoration: none;
    color: black;
}
.navbar-brand{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar-nav{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style-type: none;
    background-color: #39f143;
    position: relative;
    left: 0cm;
    right: 0cm;
}
.nav-item{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    /* background-color: #555; */
    color: blue;
  }
  
.nav-link{
    color: #000;
    text-decoration: none;
}
.end{
    text-align: right;
    font-size: medium;
}